<template>
  <div class="login">
    <div class="content">
      <div class="logo_img"><img src="../img/login-logo.png" alt="" /></div>
      <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        :rules="rules"
        class="demo-ruleForm"
        :size="formSize"
        status-icon
      >
        <el-form-item prop="principal">
          <el-input v-model="ruleForm.principal" placeholder="账号" />
        </el-form-item>
        <el-form-item prop="credentials">
          <el-input v-model="ruleForm.credentials" placeholder="密码" />
        </el-form-item>
        <el-form-item prop="imageCode">
          <el-input
            v-model="ruleForm.imageCode"
            placeholder="验证码"
            style="width: 180px; display: inline-block"
          /><img
            class="img_captch"
            :src="captchUrl"
            alt=""
            @click="changeImgCode"
          />
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            style="width: 300px"
            @click="submitForm(ruleFormRef)"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue';
import { uuid } from 'vue-uuid';
import type { FormInstance, FormRules } from 'element-plus';
import useStore from '../store/index';
import { useRouter } from 'vue-router';
const router = useRouter();
const { user } = useStore();
const uuidId = uuid.v4();
const captchUrl = ref(
  `/api/captcha.jpg?uuid=${uuidId}&t=${new Date().getTime()}`
);

const formSize = ref('default');
const ruleFormRef = ref<FormInstance>();
const ruleForm = reactive({
  principal: 'admin',
  credentials: '123456',
  imageCode: '',
  sessionUUID: uuidId,
});

const rules = reactive<FormRules>({
  principal: [
    { required: true, message: '请输入账号', trigger: 'blur' },
    { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
  credentials: [
    { required: true, message: '请输入密码', trigger: 'blur' },
    { min: 3, max: 6, message: 'Length should be 3 to 6', trigger: 'blur' },
  ],
  imageCode: [
    { required: true, message: '请输入验证码', trigger: 'blur' },
    { min: 4, max: 4, message: '验证码输入错误请重新输入', trigger: 'blur' },
  ],
});
// 点击提交按钮的时候
const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      await user.getToken(ruleForm); // 获取token
      // 跳转页面
      router.push('/');
    } else {
      console.log('error submit!', fields);
    }
  });
};
// const resetForm = (formEl: FormInstance | undefined) => {
//   if (!formEl) return;
//   formEl.resetFields();
// };

const changeImgCode = () => {
  // 点击更换验证码
  captchUrl.value = `/api/captcha.jpg?uuid=${uuidId}&t=${new Date().getTime()}`;
};
</script>

<style lang="scss">
.login {
  width: 100%;
  height: 100%;
  background-image: url('../img/login-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.content {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding-top: 200px;
  position: relative;
}

.logo_img {
  position: absolute;
  top: 120px;
  left: 35%;
}

.img_captch {
  width: 120px;
}
</style>
