/
<template>
  <div class="index">
    <div class="left">
      <a-menu
        v-model:openKeys="openKeys"
        v-model:selectedKeys="selectedKeys"
        class="cai"
        mode="inline"
        theme="dark"
        :inline-collapsed="collapsed"
      >
        <h2 v-if="collapsed" class="title_h1">亚米</h2>
        <h2 v-else class="title_h1">亚米建站后台</h2>

        <a-menu-item key="sub1">
          <template #icon>
            <HomeOutlined style="color: #fff" />
          </template>
          <router-link to="/home/index">
            <span style="color: #fff"> 首页</span>
          </router-link>
        </a-menu-item>
        <a-sub-menu key="sub2">
          <template #icon>
            <user-outlined style="color: #ccc" />
          </template>
          <template #title>
            <span style="color: #ccc">产品管理</span>
          </template>
          <a-menu-item key="2">
            <router-link to="/product/classify">分组管理</router-link>
          </a-menu-item>
          <a-menu-item key="3">
            <router-link to="/product/productlist">产品管理</router-link>
          </a-menu-item>
          <a-menu-item key="4">
            <router-link to="/product/classifyitem">分类管理</router-link>
          </a-menu-item>
          <a-menu-item key="5">
            <router-link to="/product/comment">评论管理</router-link>
          </a-menu-item>
          <a-menu-item key="6">
            <router-link to="/product/rules">规格管理</router-link>
          </a-menu-item>
        </a-sub-menu>
        <a-sub-menu key="sub3">
          <template #icon>
            <ShopOutlined style="color: #ccc" />
          </template>
          <template #title>
            <span style="color: #ccc">应聘管理</span>
          </template>
          <a-menu-item key="86"
            ><router-link to="/Apply/affiche"
              >公告管理</router-link
            ></a-menu-item
          >
          <a-menu-item key="87"
            ><router-link to="/Apply/hot">热搜管理</router-link></a-menu-item
          >
          <a-menu-item key="88"
            ><router-link to="/Apply/swipper"
              >轮播图管理</router-link
            ></a-menu-item
          >
          <a-menu-item key="89"
            ><router-link to="/Apply/fright">
              运费模板</router-link
            ></a-menu-item
          >
          <a-menu-item key="90"
            ><router-link to="/Apply/point">
              自提点管理</router-link
            ></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub4">
          <template #icon>
            <ControlOutlined style="color: #ccc" />
          </template>
          <template #title>
            <span style="color: #ccc">会员管理</span>
          </template>
          <a-menu-item key="91"
            ><router-link to="/member/menberlist"
              >会员管理</router-link
            ></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub5">
          <template #icon>
            <ControlOutlined style="color: #ccc" />
          </template>
          <template #title>
            <span style="color: #ccc">订单管理</span>
          </template>
          <a-menu-item key="92"
            ><router-link to="/orders/orderlist"
              >订单管理</router-link
            ></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub6">
          <template #icon>
            <SettingOutlined style="color: #ccc" />
          </template>
          <template #title><span style="color: #ccc">系统管理</span> </template>
          <a-menu-item key="93"
            ><router-link to="/system/address"
              >地址管理</router-link
            ></a-menu-item
          >
          <a-menu-item key="94"
            ><router-link to="/system/adminlist"
              >管理员列表</router-link
            ></a-menu-item
          >
          <a-menu-item key="95"
            ><router-link to="/system/user"> 角色管理</router-link></a-menu-item
          >
          <a-menu-item key="96"
            ><router-link to="/system/menu">菜单管理</router-link></a-menu-item
          >
          <a-menu-item key="97"
            ><router-link to="/system/timing"
              >定时任务</router-link
            ></a-menu-item
          >
          <a-menu-item key="98"
            ><router-link to="/system/parameter"
              >参数管理</router-link
            ></a-menu-item
          >
          <a-menu-item key="99"
            ><router-link to="/system/log">系统日志</router-link></a-menu-item
          >
        </a-sub-menu>
      </a-menu>
    </div>
    <div class="right">
      <header>
        <MenuFoldOutlined class="icon" @click="toggleCollapsed" />
        <span class="login">行政</span>
      </header>
      <nav></nav>
      <div class="conter">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch } from 'vue';
import {
  HomeOutlined,
  UserOutlined,
  ShopOutlined,
  SettingOutlined,
  ControlOutlined,
  MenuFoldOutlined,
} from '@ant-design/icons-vue';
export default defineComponent({
  components: {
    HomeOutlined,
    UserOutlined,
    ShopOutlined,
    SettingOutlined,
    ControlOutlined,
    MenuFoldOutlined,
  },
  setup() {
    const state = reactive({
      collapsed: false,
      selectedKeys: ['1'],
      openKeys: ['sub1'],
      preOpenKeys: ['sub1'],
    });

    watch(
      () => state.openKeys,
      (_val, oldVal) => {
        state.preOpenKeys = oldVal;
      }
    );
    const toggleCollapsed = () => {
      state.collapsed = !state.collapsed;
      state.openKeys = state.collapsed ? [] : state.preOpenKeys;
    };

    return {
      ...toRefs(state),
      toggleCollapsed,
    };
  },
});
</script>

<style lang="scss" scoped>
.index {
  width: 100%;
  height: 100%;
  display: flex;
}

.cai {
  width: 220px;
  height: 100%;
}
.title_h1 {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
  color: #fff;
  width: 100%;
  height: 50px;
  padding-top: 25px;
  background: rgb(66, 134, 197);
  //  position: sticky;
  // top: 0;
}
.right {
  width: 100%;
  height: 100%;
  background: rgb(243, 239, 239);
  overflow: auto;
}
header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0;
}

.icon {
  margin-left: 15px;
}

.login {
  float: right;
  margin-right: 25px;
}

nav {
  width: 100%;
  height: 40px;
  background: #fff;
  margin-top: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 53px;
}

.conter {
  width: 97%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  margin-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
</style>
